extends layout.pug

block content
  section#dresses.row.content(role="region")
    .col-12
      h2 Dresses
      
      .col-12
        if user
          .col-6.align-right
            a.button#add-btn(href="/dresses/add") add dress

        .hidden(class=user ? 'col-6' : 'col-12', class=user && 'align-left')
          a.button#compare-btn(href="") compare    
        #compare-description(class=user ? 'col-6' : 'col-12', class=user && 'align-left')
          p.disabled-btn select two to compare 
  
      .col-12
        .col-6.sort.align-left
          label(for="view") view      
          select#view.select-dropdown
            option(value="front", selected=view === "front" &&  true) front
            option(value="back", selected=view === "back" &&  true) back
            option(value="side", selected=view === "side" &&  true) side

              
        .col-6.sort.align-right
          label(for="sort-by") sort by
          select#sort-by.select-dropdown
            option(value="rating", selected=sort === "rating" && true) rating high to low
            option(value="price", selected=sort === "price" && true) price low to high
            option(value="designer", selected=sort === "designer" && true) designer a to z
            
      each dress in dresses
        .col-4.dress-box(data-dress-id=dress.id, data-price=dress.price, data-designer=dress.designer,
        data-store=dress.store, data-rating=dress.rating)
          .photo-box(data-dress-id=dress.id)
            if view === 'front'
              img.dress-link(src=dress.imgFront, alt='dress front')

            if view === 'back'
              img.dress-link(src=dress.imgBack, alt='dress back')

            if view === 'side'
              img.dress-link(src=dress.imgSide, alt='dress side')
            
            .heart-rating.rating-tag(data-dress-id=dress.id)
              +heartRating(user, dress.rating)
            
            if(dress.designer || dress.price)
              p.info-tag
                if(dress.designer)
                  span.designer-tag= dress.designer
                if(dress.price)
                  span.price-tag= dress.price
          
          a.add-compare.link(href="") 
            i.compare-square.fa.fa-square-o(aria-hidden="true") 
            | compare
          a.remove-compare.link.hidden(href="") 
            i.compare-square.fa.fa-check-square-o(aria-hidden="true") 
            | added to compare
    
      if user
        .col-12
          h2 Share with Friends
          p Want to share your dresses with family and friends so they can help you select the one?  Send them this view only link!
          
          -let shareLink = `${url}/${user.id}/dresses`

          input#share-link(value=shareLink)
          button.copy-btn.tooltip(data-clipboard-target="#share-link")
            i.fa.fa-clipboard(aria-hidden="true")
            span.tooltiptext link copied!
