extends layout.pug

block content
  section#dress.row.content(role="region")
    .col-12.content
      h2 Dress Details
      
      if !user
        a.button#see-all-btn(href="") All Dresses
      
      #dress-details
        .col-2#thumbs
          img(src=dress.imgFront, alt="dress front")
          img(src=dress.imgBack, alt="dress back")
          img(src=dress.imgSide, alt="dress side")
        
        .col-7#panel
          img#large-img(src=dress.imgFront, alt="dress front")

        .col-3#dress-info
          p.info-label rating:
          
          p.info-data.heart-rating.update-rating(data-dress-id=dress.id)
            +heartRating(user, dress.rating)
                
          p.info-label designer:
          p.info-data= dress.designer
            
          p.info-label style:
          p.info-data= dress.style
              
          p.info-label price:
          p.info-data= dress.price
              
          p.info-label store:
          p.info-data= dress.store
              
          p.info-label notes:
          p.info-data= dress.notes
          
          if user
            p 
              a.button(href=`/dresses/${dress.id}/edit`) edit
              
