extends layout.pug

block content
  section#dress-edit.row.content(role="region")
    .col-12
      h2 Edit Dress Details

      .col-6
        img#edit-img(src=dress.imgFront, alt='dress front')
        -let editURL = `/dresses/${dress._id}/edit`
  
      .col-6#edit-dress
        form#dress-form(role="form", action=editURL, method="post")
          label(for="rating") rating:
          select#rating.select-dropdown(name="rating")
            mixin rating-option(number, name)
              if (dress.rating === number)
                option(value=number, selected="selected")= name
              else
                option(value=number)= name
            +rating-option(4, "love it")
            +rating-option(3, "like it")
            +rating-option(2, "it's ok")
            +rating-option(1, "don't like it")
          
          label(for="designer") designer:
          input#designer.form-input(type="text", name="designer", value=dress.designer, placeholder="designer")
          
          label(for='style') style:
          input#style.form-input(type="text", name="style", value=dress.style, placeholder="style")
          
          label(for="price") price:
          input#price.form-input(type="text", name="price", value=dress.price, placeholder="price")
          
          label(for="store") store:
          input#store.form-input(type="text", name="store", value=dress.store, placeholder="store")
          
          label.top-label(for="notes") notes:
          textarea#notes.form-input(type="text", name="notes", placeholder="notes", rows="5")= dress.notes
          
          input#edit-submit(type="submit", value="save")
          input#delete-btn(type="submit", value="delete", data-dress-id=dress.id)
