mixin heartRating(user, rating)  
  span.fa.fa-heart(data-rating=1, class=rating >= 1 && 'checked', class=user && 'editable')
  span.fa.fa-heart(data-rating=2, class=rating >= 2 && 'checked', class=user && 'editable')
  span.fa.fa-heart(data-rating=3, class=rating >= 3 && 'checked', class=user && 'editable')
  span.fa.fa-heart(data-rating=4, class=rating >= 4 && 'checked', class=user && 'editable')
